<h1>User for <%= @group.name %></h1>
<%= link_to 'Back to Groups', admin_dynamic_bmsm_groups_path %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td class="field"><%= render 'user_form', :user => user, :group => @group %></td>
      </tr>
    <% end %>
  </tbody>
</table>
