<h1>Editing spree_dynamic_bmsm_tier</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_dynamic_bmsm_tier_path(@spree_dynamic_bmsm_tier[:id]) %> |
<%= link_to 'Back', admin_dynamic_bmsm_tiers_path %>
